
            body{background:url(https://picsum.photos/1024);
                background-size: cover;}
            h1{border-bottom: 3px solid red !important;} /*!important 우선순위 가져오는것*/
            #container{
                display:gird;
                grid-template-columns: 200px 1fr;
            }
            
    
            @media all and (min-width: 900px){ 
                body{
                    background-color:rgb(193, 233, 193);
                }
            }
            
            @media all and (max-width: 900px) {
                body{
                    background-color:rgb(231, 193, 193);
                }
            }
            body{font-family: 'Smokum', cursive;} /*body,h1 등 적용하고 싶은 부분{} 넣기*/
     
        